/* Qué es SEO */
.queEsBox{
    background-color: #ECFF74;
    padding: 0.7em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:1.3em;
    & img{
        width: 100%;
    }
}

.queEsTexto{
    padding:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.listaQueEs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    margin:0em;
    padding:1em;
}

.enQueSeBasa{
    margin: 0;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    justify-content: center;
}

.queEsImg2{
    width: 100%;
}