/* FONTS */
@font-face {
    font-family: 'Cabin';
    src: url(../assets/fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
}

*{
    font-family: 'Cabin';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.whatsapp{
    position:fixed;
    display:flex;
    flex-direction: column;
    bottom: 1em;
    right: 1em;
    background-color: #ECFF74;
    border: transparent;
    border-radius: 70%;
    height: 3em;
    width: 3em;
    padding: 0.6em;
}